[Unit]
Description=Jack Audio Server

[Install]
WantedBy=default.target

[Service]
# Type notify available with jack version 1.9.13
Type=notify
PrivateTmp=true                          
EnvironmentFile=/usr/local/etc/jack.conf
ExecStart=/usr/bin/jackd $JACK_OPTIONS -d $DRIVER -d $DEVICE $DRIVER_SETTINGS
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
