[Unit]
Description=Restart the PC after a timeout of 240 seconds

[Service]
Type=simple
ExecStartPre=/bin/sleep 240
ExecStart=/usr/bin/sudo /sbin/shutdown -r now
TimeoutSec=15min
TimeoutStartSec=15min