[Unit]
Description=AllRADecoder
After=jack.service jack-connection-manager.service

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=AllRADecoder
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity